
 <header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <h1><a href="#body" class="scrollto"><span>Stock Market</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="#body"><img src="img/logo.png" alt="" title="" /></a>-->

    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a routerLink="">Home</a></li>
        <li class="menu-active"><a routerLink="/aboutus" >About Us</a></li>
        <li  class="menu-active"><a routerLink="/contactus" >Contact</a></li>
        <li  class="menu-active"><a routerLink="/logout" *ngIf="userLoggedIn" >Logout</a></li>
       </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
<div class="container-fluid"> 
  <div style="min-height: 155vh;">
     <router-outlet></router-outlet>
</div>
</div>

<footer id="footer" >
  <div class="copyright">
        <h6>  @Copyright <strong>Stock</strong>. All Rights Reserved</h6>
       </div>
   </footer><!-- #footer -->
   <!-- <app-home></app-home> -->
  