
<section id="intro" class=adminbg >
    <div class="intro-content ">
      <h2>Welcome<br>Admin</h2>
      <div>
       <a routerLink="/see-users" class="btn-get-started scrollto">See Users</a>
      <a routerLink="/import-data" class="btn-get-started scrollto">Import Data</a>
      <a routerLink="/companies" class="btn-get-started scrollto">Manage Company</a>
       <a routerLink="/manage-exchange" class="btn-get-started scrollto">Manage Stock Exchange</a>
      <a routerLink="/manage-ipo" class="btn-get-started scrollto">Manage Ipo</a>
      </div>
    </div>
  </section>
  