 <section id="intro">

  <div class="intro-content">
    <h2>Make your investments<br>here</h2>
    <div>
      <a routerLink="/register" class="btn-get-started scrollto">Create account</a>
      <a routerLink="/sign" class="btn-get-started scrollto">Sign In</a>
    </div>
  </div>

  <div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/intro-carousel/1.jpg" alt="Los Angeles" width="1600" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/intro-carousel/2.jpg" alt="Chicago" width="1600" height="500">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/intro-carousel/3.jpg " alt="New York" width="1600" height="500">
      </div>
    </div>
  <a class="carousel-control-prev" href="#demo" data-slide="prev">
    <span class="carousel-control-prev"></span>
  </a>
  <a class="carousel-control-next" href="#demo" data-slide="next">
    <span class="carousel-control-next"></span>
  </a>
  </div>

</section>